body {
  cursor: pointer;
  position: static;
  padding: 5px 5px 5px 5px;
  list-style-type: none;
  font-size: 18px;
  text-align: center;
  transition: 0.2s;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
